{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - taxonomy_attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}

{%
  set taxonomy_classes = [
    'taxonomy',
    not term.isPublished() ? 'term--unpublished',
    term.bundle|clean_class,
    term.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    'term--' ~ view_mode|clean_class,
    'term--' ~ term.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    'view-mode--' ~ view_mode|clean_class,
  ]|merge(taxonomy_utility_classes ?: [])
%}

{%
  set taxonomy_content_classes = [
    'taxonomy__content',
  ]|merge(taxonomy_content_utility_classes ?: [])
%}

{% set taxonomy_attributes = attributes ?: create_attribute() %}
{% set taxonomy_content_attributes = create_attribute() %}

<article {{ taxonomy_attributes.addClass(taxonomy_classes) }}>
  {% block taxonomy_title_prefix %}
    {{ title_prefix }}
  {% endblock %}

  {% block taxonomy_title %}
    {% if name and not page %}
      {%
        include 'radix:heading' with {
          content: name|default(''),
          heading_html_tag: heading_html_tag|default('h2'),
          title_link: title_link|default(url),
          heading_attributes: title_attributes,
        }
      %}
    {% endif %}
  {% endblock %}

  {% block taxonomy_title_suffix %}
    {{ title_suffix }}
  {% endblock %}
  
  {% block taxonomy_content %}
    {% if content|render %}
      <div {{ taxonomy_content_attributes.addClass(taxonomy_content_classes) }}>
        {{ content }}
      </div>
    {% endif %}
  {% endblock %}
</article>

{% endapply %}
